<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Connect with us on social media</p>
                <a href="https://twitter.com/osunstartuphub" target="_blank"><span><img src="images/Logotwitter.png" alt="OSH twitter"></span></a>
                <a href="https://www.linkedin.com/company/osun-startup-hub/" target="_blank"><span><img src="images/Logolinkedin.png" alt="OSH linkedin"></span></a>
                <a href="https://www.instagram.com/osunstartuphub/" target="_blank"><span><img src="images/Logoinstagram.png" alt="OSH instagram"></span></a>
                <a href="https://web.facebook.com/profile.php?id=100091978181786" target="_blank"><span><img src="images/Logofacebook.png" alt="OSH facebook"></span></a>
            </div>
        </div>
    </div>

</footer>