<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1012564.3748496267!2d3.895808630405582!3d7.538987420687315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10381b1492f19919%3A0x4444a9d7e31afcd3!2sOsun!5e0!3m2!1sen!2sng!4v1689251198994!5m2!1sen!2sng"
                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="img-fluid img-responsive"></iframe>
        </div>

        <div class="col-lg-5">
            <h6>Get in touch</h6>
            <h5>Synergizing and Strengthening the Technology Ecosystem in Osun State.
                Get in touch!</h5>
            <a href="/about.html" target="_blank"><small>Read more <span><img width="16" height="16"
                            src="https://img.icons8.com/small/16/long-arrow-right.png"
                            alt="long-arrow-right" /></span></small></a> <br>
            <br>
            <h6>Address</h6>
            <p>Osun Startup Hub, Tech Drive way, Osogbo, Osun State.</p>
            <a href=""><small><span><img width="24" height="24"
                            src="https://img.icons8.com/material-outlined/24/new-post.png" alt="new-post" /></span>
                    Send an
                    email</small></a> <br>
            <a href=""><small><span><img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/phone--v1.png"
                            alt="phone--v1" /></span> Make
                    a Phone Call</small></a> <br>

        </div>
    </div>
</div>